{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Home</title>
{% endblock %}

{% block conteudo %}
<div class="container col-8">
    <div class="card-group">
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Estado</h5>
                <p class="card-text"><h6>Campo para se cadastrar os Estados.</h6></p>
                <a href="{% url 'cadastrar-estado' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Cidade</h5>
                <p class="card-text"><h6> Campo para se cadastrar as Cidades.</h6></p>
                <a href="{% url 'cadastrar-cidade' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>

        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Máquina</h5>
                <p class="card-text"><h7>Campo para se cadastrar as Máquinas.</h7></p>
                <a href="{% url 'cadastrar-maquina' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Funcionário</h5>
                <p class="card-text"><h6>Campo para se cadastrar os Funcionários.</h6></p>
                <a href="{% url 'cadastrar-funcionario' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Cadastrar Fornecedor</h5>
                <p class="card-text"><h6>Campo para se cadastrar as Fornecedores.</h6></p>
                <a href="{% url 'cadastrar-fornecedor' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>


    </div>
    <div class="card-group">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Estoque</h5>
                <p class="card-text"><h6>Campo para se cadastrar os produtos.</h6></p>
                <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>

        
        <div class="card text-white bg-dark">
            
            <div class="card-body">
                <h5 class="card-title">Entrada</h5>
                <p class="card-text"><h6>Campo para se cadastrar as Entrada de Produtos.</h6></p>
                <a href="{% url 'cadastrar-entrada' %}" class="btn btn-primary">Cadastrar</a>
            </div>
            
        </div>
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Produtos_Entrada</h5>
                <p class="card-text"><h6>Campo para se cadastrar os movimentos dos produtos.</h6></p>
                <a href="{% url 'cadastrar-produtos_entrada' %}" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Baixa no Estoque</h5>
                <p class="card-text"><h6>Campo para se cadastrar as Saida dos Produtos.</h6></p>
                <a href="{% url 'cadastrar-saida' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>
        <div class="card text-white bg-dark">

            <div class="card-body">
                <h5 class="card-title">Produtos_Saida</h5>
                <p class="card-text"><h6>Campo para se cadastrar os Controle da Saidas dos Produtos.</h6></p>
                <a href="{% url 'cadastrar-produtos_saida' %}" class="btn btn-primary">Cadastrar</a>
            </div>

        </div>


    </div>



</div>
{% endblock %}



{% block rodape %}
{% endblock %}