{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block titulo %}
    <title>Sistema de gerenciamento de frotas</title>
    {% endblock %}


    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{% static 'img\favicon.png' %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'open-iconic-master\font\css\open-iconic-bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css\style.css' %}" rel="stylesheet" />

    <link href="{% static 'fontawesome\css\font-awesome.min.css' %}" rel="stylesheet" />
</head>

<body>
    {% block topo %}
    <header>
        <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="btn btn-dark navbar-toggle pull-left">
                        <i class="oi oi-menu"></i>
                    </button>
                    <a class="navbar-brand " href="#">Painel do Sistema de Gerenciamento de Frotas</a>
                </div>
                
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle pull-left mb-0" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span id="username">{{ request.user }}</span>
                    </a>
                    &nbsp; &nbsp; &nbsp; &nbsp;

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'atualizar-dados' %}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Meus dados</a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            Alterar senha</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sair</a>
                    </div>
                </li>
                {% else %}
                <div class="navbar-header ml-auto">
                    <a class="nav-link text-white" href="{% url 'registrar' %}">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Registrar
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="nav-link text-white" href="{% url 'login' %}">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </a>
                </div>
                {% endif %}



            </div>
        </nav>






    </header>

    {% endblock %}

    <div class="layout-main">

        {% block menuEsquerdo %}

        <aside>
            <nav class="sidebar sidebar-open">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link " href="{% url 'index' %}"> <i class="oi oi-home"></i>
                            <span>Bem vindo</span>
                        </a></li>
                </ul>
                <ul class="nav nav-pills">
                    <li class="nav-item"><span class="nav-link active">Usuários</span></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards' %}"> <i class="oi oi-plus"></i>
                            <span>Cadastrar</span>
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-cidade' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Cidade</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-maquina' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Máquinas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-funcionario' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Funcionários</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-fornecedor' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Fornecedores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-produto' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-entrada' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Entrada</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-produtos_entrada' %}"> <i
                                class="oi oi-spreadsheet"></i>
                            <span>Produtos_Entrada</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-saida' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Baixa nos Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-produtos_saida' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Produtos Saida</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar-controle_maquina' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Controle Máquina</span>
                        </a>
                    </li>


                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ajuda' %}"> <i class="oi oi-spreadsheet"></i>
                            <span>Ajuda</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        {% endblock %}

        <section class="layout-content">
            
            <div class="p-4">
            {% block conteudo %}
            <div class="container">
                <div id="list-home" class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-spring-boot-list"
                                data-toggle="list" href="#sobre-sgf" role="tab" aria-controls="sobre-sgf">Sobre</a>
                            <a class="list-group-item list-group-item-action" id="list-sgf-list" data-toggle="list"
                                href="#sgf" role="tab" aria-controls="sgf">Ajuda</a>

                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="sobre-sgf" role="tabpanel"
                                aria-labelledby="list-spring-boot-list">
                                <a href="#">Sgf - Sistema de gerenciamento de frotas.</a>
                                O custo da manutenção de máquina pesada é altíssimo se negligenciado pode levar alguns
                                proprietários de empresa de
                                terraplanagem a falir devido ao custo do equipamento, o investimento é alto, e este
                                equipamento estiver parado porque o
                                reparo é elevado, muitos proprietários chegam a uma situação complicada tendo de
                                desfazer da máquina, por preço inferior
                                de mercado assim o prejuízo é altíssimo.
                                Sendo assim, o objetivo deste trabalho é o desenvolvimento do Sistema de Gerenciamento
                                de Frotas (SGF). Esse sistema tem
                                como objetivo auxiliar no gerenciamento do almoxarifado e da manutenção de equipamentos
                                de pavimentação.

                            </div>
                            <div class="tab-pane fade" id="sgf" role="tabpanel" aria-labelledby="list-sts-list">
                                Se tiver algum problema por favor enviar um email para nossa equipe de suporte <span
                                    style="color: #4286f4"><a href="#">leodiceo@gmail.com</a></span> que
                                entraremos em contato com você obrigado pela sua preferência
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            </div>

        </section>

    </div>
    {% block rodape %}
    <!-- <footer class="layout-footer">
        <div class="container">
            <span class="footer-copy">© 2018 SGF. Todos os direitos reservados.</span>
        </div>
    </footer> -->
    {% endblock %}


    <!-- Bootstrap core Java
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="{% static 'js\jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js\jquery.mask.min.js' %}"></script>
    <script src="{% static 'js\bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'static\js\popper.js' %}"></script>
    <script type="text/javascript">

        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        $(document).ready(function () {
            $(".navbar-toggle").click(function () {
                $(".sidebar").toggleClass("sidebar-open");
            })
        });

    </script>
    {% block script %}

    {% endblock %}
</body>

</html>