{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Sobre o Projeto</title>
{% endblock %}


{% block conteudo %}
<div class="container col-8" >
    <h3>Sobre o sistema</h3>
    <h4>Sgf - Sistema de gerenciamento de frotas.</h4>
    <p class="lead">O custo da manutenção de máquina pesada é altíssimo se negligenciado pode levar alguns
                                proprietários de empresa de
                                terraplanagem a falir devido ao custo do equipamento, o investimento é alto, e este
                                equipamento estiver parado porque o
                                reparo é elevado, muitos proprietários chegam a uma situação complicada tendo de
                                desfazer da máquina, por preço inferior
                                de mercado assim o prejuízo é altíssimo.
                                Sendo assim, o objetivo deste trabalho é o desenvolvimento do Sistema de Gerenciamento
                                de Frotas (SGF). Esse sistema tem
                                como objetivo auxiliar no gerenciamento do almoxarifado e da manutenção de equipamentos
                                de pavimentação.</p>


</div>
{% endblock %}



{% block rodape %}
{% endblock %}