{% extends 'paginas/modelo.html' %}

{% load static %}


{% block titulo %}
<title>Detalhamento de Saida</title>
{% endblock %}


{% block conteudo %}
<div class="container">
    <h3>Saida: {{ object }}</h3>
    <h3>{{ titulo }}</h3>
    <p class="lead">Todos os dados registrados deste Saida.</p>


    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    
                    <th>Detalhes</th>
                    <th>Maquina</th>
                    <th>Funcionario</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>{{ saida.detalhes }}</td>
                    <td>{{ saida.maquina }}</td>
                    <td>{{ saida.funcionario }}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>








    {% endblock %}


    {% block script %}
    <script>

        // $("seletor").evento(function () {
        // $("seletor").acao();
        // });
        $(document).ready(function () {

            $("#tabela-funcionario").DataTable({
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 50,
                "language": {
                    "decimal": "",
                    "emptyTable": "Sem dados disponíveis",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                    "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
                    "infoFiltered": "(filtrado de _MAX_ registos no total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registos",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Procurar:",
                    "zeroRecords": "Não foram encontrados resultados",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Seguinte",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }


            });
        })
    </script>
</div>
{% endblock %}